<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Pastel Blog</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header class="site-header">
      <div class="container">
        <h1 class="site-title"><a href="{{ url_for('home') }}">Pastel Blog</a></h1>

        <!-- Navigation buttons (Login/Logout, Admin) -->
        <div class="header-buttons">
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('dashboard') }}" class="login-button">Admin panel</a>
          {% endif %}
          <a href="{{ url_for('logout') if current_user.is_authenticated else url_for('login') }}" class="login-button">
            {{ 'Log out' if current_user.is_authenticated else 'Log in' }}
          </a>
        </div>
      </div>
    </header>


{% block content %}{% endblock %}

</body>
</html>
