{% extends "base.html" %}

{% block content %}
<main class="main-content">
  <div class="container">
    <h1>Dashboard</h1>

    <!-- Article and user management buttons -->
    <a href="{{ url_for('create_article') }}" class="login-button">New Article</a>
    <a href="{{ url_for('user_management') }}" class="login-button">User Management</a>


    <div class="post-grid">
      {% for article in articles %}
        <article class="post-card">
          <h2>{{ article.title }}</h2>
          <p class="post-date">{{ article.created_at.strftime('%d.%m.%Y %H:%M') }}</p>
          <a href="{{ url_for('edit_article', article_id=article.id) }}" class="read-more">Edit</a> |
          <a href="{{ url_for('delete_article', article_id=article.id) }}" class="read-more">Delete</a>
        </article>
      {% else %}
        <p>You have no articles.</p>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
