{% extends "base.html" %}

{% block content %}
<main class="login-wrapper">
  <form class="login-form" method="POST" enctype="multipart/form-data">
    <h2>{% if user %}Edit{% else %}Nový{% endif %} User</h2>

    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="{{ user.username if user else '' }}" required>

    <label for="password">{% if user %}New password (volitelné){% else %}Password{% endif %}</label>
    <input type="password" id="password" name="password" {% if not user %}required{% endif %}>

    <button type="submit">Save</button>
  </form>
</main>
{% endblock %}
